<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:name=".ProCollegiaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProCollegia"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.ProCollegia.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LeaveRequestActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LoginActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".StudentDashboardActivity" android:exported="false" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".TeacherDashboardActivity" android:exported="false" />
        <activity android:name=".PtAdminDashboardActivity" android:exported="false" />
        <activity android:name=".AddInventoryActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".TournamentDetailActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PrincipalDashboardActivity" android:exported="false" />
        <activity android:name=".HodDashboardActivity" android:exported="false" />
        <activity android:name=".HodTakeAttendanceActivity" android:exported="false" />
        <activity android:name=".AttendanceScannerActivity" android:exported="false" android:theme="@style/Theme.ProCollegia.NoActionBar" />
        <activity android:name=".TournamentRegistrationActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".CreateTournamentActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TournamentRecipientActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TeacherInternalsActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".HodSubjectAssignmentActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TimetableUploadActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.procollegia.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>